{% extends 'myApp/base.html' %}

{% block content %}
    {% include 'myApp/partials/hero.html' %}
    {% include 'myApp/partials/credibility.html' %}
    {% include 'myApp/partials/testimonials.html' %}
    {% include 'myApp/partials/pain_points.html' %}
    {% include 'myApp/partials/who_we_work_with.html' %}
    {% include 'myApp/partials/services.html' %}
    {% include 'myApp/partials/differentiators.html' %}
    {% include 'myApp/partials/about.html' %}
    {% include 'myApp/partials/methodology.html' %}
    {% include 'myApp/partials/speaking.html' %}
    {% include 'myApp/partials/final_cta.html' %}
{% endblock %}

{% block extra_js %}{% endblock %}

